@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.accordion {
  /* se esperaba { */
  --bs-accordion-btn-bg: #00ff6ac7;
  --bs-accordion-active-color: #000000;
  --bs-accordion-active-bg: #00ff6ac7;
  --bs-accordion-btn-focus-box-shadow: none;
  font-family: 'Poppins', sans-serif;
}

.alert {
  --bs-alert-bg: #00ff6ac7;
  --bs-alert-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  align-items: center;
}


.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(6, 209, 84, 0.8);
  /* Sombreado predeterminado de Bootstrap */
  border: 0;
}

.form-select:focus {
  box-shadow: 0 0 0 0.2rem rgba(6, 209, 84, 0.8);
  /* Sombreado predeterminado de Bootstrap */
  border: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

#btnGuardarFactura {
  background-color: #19f575;
  color: #000000;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  margin-bottom: 10px;
  margin-block-start: 30px;
  margin-block-end: 13px;
  margin-inline-start: 750px;
  font-family: "Poppins", sans-serif;
}

#btnGuardarFactura:hover {
  background-color: rgb(0, 38, 255);
  color: white;
  border: none;
}

#btnCancelarFactura {
  background-color: #19f575;
  color: #000000;
  flex-direction: row;
  text-decoration: #ff0000;
  border: none;
  padding: 10px;
  margin-top: -108px;
  margin-bottom: -10px;
  margin-inline-start: 650px;
  margin-inline-end: 250px;
  font-family: 'Poppins', sans-serif;
}

#btnCancelarFactura:hover {
  background-color: rgb(223, 15, 15);
  color: white;
  border: none;
}

#inpusFacturas {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  flex-direction: row-reverse;
  margin-inline-start: 600px;
  gap: 10px;
  font-family: 'Poppins', sans-serif;
}

.accordion:hover {
  --bs-accordion-btn-bg: #19f575;
  --bs-accordion-active-color: #000000;
  --bs-accordion-active-bg: #0ac7a7;
  --bs-accordion-btn-focus-box-shadow: none;
}

#btnAgregarProducto{
  margin-top: 15px;
  color: #000000;
  border: none;
}
#btnAgregarProducto:hover{
  color: white;
}
#tablaProductos{
  margin-top: 10px;
}